@import '_fonts.less';
@import '_variables.less';

// Blocks
@import 'blocks/card.less';
@import 'blocks/header.less';

html, body  {
  font-family: @tahoma;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: @text-color;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.container {
  width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width:1024px) {
    width: 768px;
  }

  @media (max-width:768px) {
    width: 320px;
  }
}

.header {
  text-align: center;
  
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  padding-top: 40px;
  padding-bottom: 40px;

  // border: 1px solid transparent;  //temporary! solving bg margins  

  .logo {
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 350px;
    border: 1px solid transparent;
    margin: 0 auto;

    @media (max-width:768px) {
      width: 280px;
    }
  }

  a {
    color: @contrast-color;
    text-decoration: none;
    border-bottom: 1px dashed @contrast-color;
    &:hover {
      border-bottom: 1px solid @contrast-color;
    }
    &:after {
      position: relative;
      content:'|';
      color: black;
      left: 3px;
      
    }
    &:last-child:after {
      display: none;
    }
  }
}

h1 {
  font-family: @proto;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 42px;
  }
}

.content {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  text-align: left;
  position: relative;
  display: inline-block;
  height: 430px;
  width: 20%;
  max-width: 220px;
  margin-right: 2%;
  border: 4px solid transparent;
  box-shadow: 0px -3px 2px -3px rgba(50, 50, 50, 0.75);
  border-radius: 6px;
  padding: 7px;
  margin-bottom: 40px;
  background-color: white;
  @media (max-width: 1024px) {
    width: 27%;
  }
  @media (max-width: 768px) {
    width: 90%;
  }
  &:hover {
    border: 4px solid @contrast-color;
    border-radius: 5px;
    cursor: pointer;
  }
  &:last-child {
    margin-right: 0;
  }
  &.label:after {
    position: absolute;
    content: '';
    display: inline-block;
    
    width: 35px;
    height: 55px;
    top: -4px;
    right: 13px;

    background-image: url(../img/label.png);
    background-repeat: no-repeat;
    background-size: 100%;

    @media(max-width:768px) {

    }
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 180px;

    img {
      width: 100%;
    }
  }

  h2 {
    font-family: @proto;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .status {
    margin-bottom: 25px;
  }

  .occupancy {
    position: absolute;
    bottom: 20px;
    font-family: @proto;
    text-transform: uppercase;
    font-size: 24px;
    color: @text-light;
  }

  p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
  }
}

#toTop {
  width:100px;
  text-align:center;
  margin: 0 auto;
  cursor:pointer;
  font-size:36px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: @proto;
  color: @contrast-color;
}

.footer {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  
  font-family: @proto;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  label {
    display: block;
    margin-bottom: 20px;
  }

  input[type="text"] {
    // display: inline-block;
    
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: @proto;
    font-size: 18px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    &:focus {
      outline: none;
    }
    @media (max-width: 768px) {
      max-width: 180px;
    }
  }

  // .checkbox {
  //   margin-left: 100px;
  // }

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
    content:"";
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    transition: color ease .3s;
    vertical-align: bottom;
    margin-left: 100px;
}

input[type=checkbox]:checked + label:before {
    background-position: center center;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
}


  .submit {
    margin-left: 100px;
  }

  input[type="submit"] {
    font-family: @proto;
    font-size: 18px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    color: @contrast-color;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:focus {
      outline:none
    }
  }
}

